#include "winres.h"

IDI_ICON1               ICON                    "images/AxTrace.ico"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 4, 0, 0, 0
	PRODUCTVERSION 4, 0, 0, 0
	FILEFLAGSMASK 0x3fL
	#ifdef _DEBUG
		FILEFLAGS 0x1L
	#else
		FILEFLAGS 0x0L
	#endif
	FILEOS 0x4L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
		BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080404b0"
		BEGIN
			VALUE "CompanyName", "thecodeway.com"
			VALUE "FileDescription", "AxTrace4"
			VALUE "FileVersion", "4.0.0.0"
			VALUE "InternalName", "AxTrace.rc"
			VALUE "LegalCopyright", "Copyright (C) thecodeway.com 2018"
			VALUE "OriginalFilename", "AxTrace.rc"
			VALUE "ProductName", "Axia|Trace4"
			VALUE "ProductVersion", "4.0.0.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x804, 1200
	END
END
